<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    <style>
        .app-bar {
            border-bottom: red solid 3px;
        }

    
        .app-bar-menu li {
            list-style: none !important;
        }
    
    </style>
</head>
<body>

    <div data-role="appbar" data-expand-point="md" class="bg-black fg-white app-bar fixed-top pos-absolute">
        <a href="#" class="brand no-hover">
            <span>
                Freelance<sup>.com</sup>
            </span>
        </a>

        <ul class="app-bar-menu">
            <li >@Html.ActionLink("Home", "Index", "Home")</li>
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';">@Html.ActionLink("About", "About", "Home")</li>
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';">@Html.ActionLink("CreateJobs", "CreateJobs", "Home")</li>
            @Html.Partial("_LoginPartial")
        </ul>
    </div>




    @RenderBody()
    @Scripts.Render("~/bundles/MetroUI")
    @RenderSection("scripts", required: false)
</body>
</html>