<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")


    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    <style>

        .sidebar-menu {
            color: white;
        }


        .app-bar {
            border-bottom: red solid 3px;
        }


        .app-bar-menu li {
            list-style: none !important;
        }
    </style>
</head>
<body id="TableUsers">
    @Html.Partial("Loading")

    <div data-role="appbar" data-expand-point="md" class="bg-black fg-white app-bar fixed-top pos-absolute">




        <a href="#" class="brand no-hover">
            <span>
                Pen.Guin<sup>.com</sup>
            </span>
        </a>

        <ul class="app-bar-menu">
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';">@Html.ActionLink("Home", "Index", "Home")</li>

            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';">@Html.ActionLink("CreateJobs", "CreateJobs", "Home")</li>
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';"> @Html.ActionLink("About", "About", "Home")</li>
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';"> @Html.ActionLink("All Links", "AllLinks", "Home")</li>
            <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';">
                @if (User.IsInRole("Banned"))
                {
                    @Html.ActionLink("Banned", "Banned", "Account", routeValues: null, htmlAttributes: new { title = "Admin" })
                }
            </li>
        </ul>
        @if (User.Identity.IsAuthenticated)
        {

            <button class="button pos-absolute pos-right-center bg-black"
                    id="sidebar-toggle-2">
                <span class="mif-menu"></span>
            </button>
        }
        else
        {

            <ul class="pos-absolute pos-right-center bg-black app-bar-menu">
                <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';"> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
                <li onmouseover="this.style.backgroundColor='#555';" onmouseout="this.style.backgroundColor='black';"> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>
            </ul>
        }

    </div>
    @using BLLViews.Models

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("_LoginPartial", "Account")
    }

    <div class="shifted-content-2 h-100 p-ab">


        <div class="h-100 p-4">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/MetroUI")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/scripts/scripts.js")

    @RenderSection("scripts", required: false)
</body>

</html>