
<aside class="sidebar pos-absolute z-2  bg-black" data-role="sidebar" data-toggle="#sidebar-toggle-2"  id="sb2" data-shift=".shifted-content">
    <br />
    <br />
    <br />

    <div class="sidebar-header  bg-black" data-image="">
        <div class="avatar bg-darkRed">

        </div>
        <span class="title fg-white">Metro 4 Components Library</span>
        <span class="subtitle fg-white"> 2018 © Sergey Pimenov</span>
    </div>

    <ul class="sidebar-menu">


        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            <li>
                <a href="~/support/MyTickets"> Support</a>
            </li>
            <li>
                @Html.ActionLink("Cabinet", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

            </li>
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), $"UserInfo/{User.Identity.GetUserId()}", "Account", routeValues: null, htmlAttributes: null)
            </li>
            <li>
                @Html.AntiForgeryToken()
                @Html.ActionLink("LOG OFF", "LogOff", "Account", routeValues: null, htmlAttributes: null)
            </li>
        }
        else
        {

            <li> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
            <li> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>

        }

        <li class="divider"></li>
        <li> @Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>
<script>
  
</script>