@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <a href="~/support/MyTickets"> Support</a>
    </li>
    <li>
        @Html.ActionLink("Cabinet", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        
    </li>
    <li>
        @Html.ActionLink(User.Identity.GetUserName(), $"UserInfo/{User.Identity.GetUserId()}","Account", routeValues: null, htmlAttributes: null)
    </li>
    <li>
        @Html.AntiForgeryToken()
        @Html.ActionLink("LOG OFF", "LogOff", "Account", routeValues: null, htmlAttributes: null)
    </li>
}
else
{

    <li> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </li>
    <li> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>

}
