@model BLLViews.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<style>
    .stLoginInput {
        margin-left: 30%;
        margin-right: 30%;
    }
    
</style>

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal stLoginInput", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="text-center">Enter your email</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "cell-12" })
            </div>
        </div>
        <div class="form-group">
           
            <input style="width:100%;" type="submit" class="button alert outline " value="Email Link" />
           
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
