@{
    ViewBag.Title = "AboutPress";
}
<style>
    .stmenu {
        margin-left: 36%;
        margin-right: 36%;
    }
    .stText {
        margin-left: 20%;
        margin-right: 20%;
    }
</style>
<div class="text-center">
    <h1>Freelance in the news</h1>
    
</div>
<div class="text-center stmenu ">
    <ul class="h-menu">
        <li>@Html.ActionLink("About Us", "About", "Home")</li>
        <li>@Html.ActionLink("Carrers", "AboutCarrers", "Home")</li>
        <li>@Html.ActionLink("Our Team", "AboutOurTeam", "Home")</li>
        <li>@Html.ActionLink("Press", "AboutPress", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "AboutContactUs", "Home")</li>
    </ul>
</div>
<div class="stText ">
    <div style="width:30%" class="float-left">
        <div class="card image-header">
            <div class="card-header fg-black"
                 style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/CNBC_logo.svg/1200px-CNBC_logo.svg.png)">
             
            </div>
            <div class="card-content p-2" style="height:100px;">
                <p class="fg-gray">Posted on Merch 03, 2019</p>
                The 20 hottest job skills in 2019 that will get you hired
            </div>
            <div class="card-footer">
                <button class="button secondary">Read More</button>
            </div>
        </div>
    </div>
    <div style="width:30%" class="float-left">
        <div class="card image-header">
            <div class="card-header fg-black"
                 style=" background-image: url(http://beaumontetiquette.com/wp-content/uploads/2017/05/Fast-company-logo-R.png) ">

            </div>
            <div class="card-content p-2" style="height:100px;">
                <p class="fg-gray">Posted on Merch 03, 2019</p>
                All successful project which was created on Freelance.
            </div>
            <div class="card-footer">
                <button class="button secondary">Read More</button>
            </div>
        </div>
    </div>
    <div style="width:30%" class="float-left">
        <div class="card image-header">
            <div class="card-header fg-black"
                 style=" background-image: url(https://fortunedotcom.files.wordpress.com/2016/10/fortune-logo-2016-840x485.jpg) ">

            </div>
            <div class="card-content p-2" style="height:100px;">
                <p class="fg-gray">Posted on Merch 03, 2019</p>
                Fortune about Freelance's staff and their work day.
            </div>
            <div class="card-footer">
                <button class="button secondary">Read More</button>
            </div>
        </div>
    </div>

</div>

