@{
    ViewBag.Title = "About";
  
}
<style>
    .stmenu {
        margin-left: 36%;
        margin-right: 36%;
    }

    .sth3 {
        margin-left: 15px;
    }
    .sta{
       margin-left:15px;
    }
</style>
<div class="text-center">
    <h1>About Us</h1>
    <h4>Creating a world of work without limits</h4>
</div>
<div class="text-center stmenu ">
    <ul class="h-menu">
        <li> @Html.ActionLink("About Us", "About", "Home")</li>
        <li>@Html.ActionLink("Carrers", "AboutCarrers", "Home")</li>
        <li>@Html.ActionLink("Our Team", "AboutOurTeam", "Home")</li>
        <li>@Html.ActionLink("Press", "AboutPress", "Home")</li>
        <li>@Html.ActionLink("Contact Us", "AboutContactUs", "Home")</li>
    </ul>
</div>


<div class="float-left" style="width:25%; margin-left:30%">
    <div>
        <div class="sth3"> <h3>Our story</h3></div>
        <p>
            We have three pussies who want to pass a course. We chose the topic for a long time, offered different kinds of topics to our team lead, but he was ЧСВ.All in all, we chose the topic and it became a job search site.

        </p>
        <p>  <h5> Freelance's vision</h5></p>

        <p>
            To connect businesses with great talent to work without limits.
        </p>
        <p>  <h5> Freelance's mission</h5></p>
        <p>
            To create economic opportunities so people have better lives.
        </p>
    </div>
    <p>  <h5> Freelance's values</h5></p>

    <p>
        Put our community first.
    </p>
    <p>
        Inspire a boundless future of work.
    </p>
    <p>
        Build amazing teams.
    </p>
    <p>
        Have a bias towards action.
    </p>
    <p>  <h5> Join Freelance on social</h5></p>
    <div class="container" >
        <a class = "fg-white fg-red-hover" href="#"><span class="mif-facebook mif-3x"></span></a>
        <a class = "fg-white fg-red-hover"  href="#"><span class="mif-twitter mif-3x "></span></a>
        <a class = "fg-white fg-red-hover"  href="#"><span class="mif-github mif-3x "></span></a>
        <a class = "fg-white fg-red-hover"  href="#"><span class="mif-instagram mif-3x"></span></a>
    </div>

    @*<a href="#"><span class="google-plus fg-blue"></span></a>*@




</div>
