@{
    ViewBag.Title = "AllLinks";
}
<div class="text-center">
    <h2>AllLinks</h2>
    <h5>In this page you can see all links our site</h5>
</div>
<div class="row">
    <div class="cell-4">
        <h4>COMPANY</h4>
        <p>@Html.ActionLink("About Us", "About", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Investor Relations", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Carrers", "AboutCarrers", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Press", "AboutPress", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Trust & Safety", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Terms of Service", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Privacy Policy", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
    </div>
    <div class="cell-4">
        <h4>RESOURCES</h4>
        <p>@Html.ActionLink("Customer Support", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>@*qqq*@
        <p>@Html.ActionLink("Hiring Headquarters", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Hiring Resources", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Freelance Blog", "About", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Customer Stories", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Business Resources", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Payroll Services", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
    </div>
    <div class="cell-4">
        <h4>BROWSE</h4>
        <p>@Html.ActionLink("Hiring Headquarters", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Find Jobs", "JobsList", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Jobs in USA", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Freelancers in Australia", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Freelancers in Canada", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Freelancers in UK", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
        <p>@Html.ActionLink("Freelancers in USA", "Index", "Home", new { @class = "fg-white fg-red-hover" })</p>
    </div>
</div>