@model BLLViews.Models.JobView
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Model.job.Name;
}

<style>
    .main-container {
        border: 2px solid darkred;
    }

    .avatar {
        border-radius: 10px;
    }

    .user-info {
        margin: 5px;
        border-radius: 10px;
        background-color: dimgray;
    }

    #mapid {
        height: 180px;
    }
    .Subs
    {
         background-color:aliceblue;
         color:black;
    }
    .stfieldEmail{
        width:150px;
    }
</style>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />


<div class="container main-container">

    <h1 class="text-center">@Model.job.Name</h1>


    <hr />
    <div class="grid">
        <div class="row">
            <div class="cell-8"><h2>@Model.job.Salary$</h2></div>

            <div id="Subsc">
                @if (Model.job.subscribers.FirstOrDefault(x => x.UserName == User.Identity.Name) == null)
                {
                    <div class="cell-4"><button id="btnsub" onclick="Ts1()" class="button alert">Subscribe</button></div>
                }
                else
                {
                    <div class="cell-4"><button id="btnsub" onclick="Ts1()" class="button alert">Subscribed</button></div>

                }
            </div>


        </div>
        <br />
        <br />
        <label>Description:</label>
        <div class="container row">
            @Model.job.Description
        </div>



        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="cell-8">
                <a href='@Url.Action("UserInfo","Account",new {id=Model.job.UserOwner.Id })' style="text-decoration:none; color:white">
                    <div class="row user-info">
                        <div class="cell-3">
                            <img width="30" class="avatar" height="30" src="@Model.job.UserOwner.AvaPath">
                            @Model.job.UserOwner.FullName
                        </div>
                        <div class="cell-3">
                            <input data-role="rating" data-value="@Model.job.UserOwner.Raiting" readonly disabled data-star-color="violet" data-stared-color="red" data-round-func="floor">
                        </div>
                        <div class="cell-3">
                            @Model.job.UserOwner.Email
                        </div>
                        <div class="cell-3">
                            <div class="stfieldEmail">
                                <p style="width:150px;">@Model.job.UserOwner.PhoneNumber </p>
                            </div>
                        </div>
                    </div>
            </div>
            </a>
            <div class="cell-2">
                <h6>@Model.job.Date</h6>
            </div>
            <div class="cell-2">
                <h4>@Model.job.City.Name</h4>
            </div>
        </div>

        <hr />
        <div>
            <ul class="bottom text-center" data-role="tabs">
                <li class="bg-darkRed fg-white fg-yellow-hover"><a href="#Cart">Cart</a></li>
                <li class="bg-darkRed fg-white fg-yellow-hover"><a href="#Chat">Chat</a></li>
            </ul>
            <div class="border bd-default no-border-top p-2">
                <div id="Cart">
                    <div id="map" style="height:400px"></div>
                    <div id='geocoder' class='geocoder'></div>
                </div>
                <div id="Chat">
                    <button class="button outline alert cell-6" onclick="UpdateChat()">UPDATE CHAT</button>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaXZhbnR5bW8iLCJhIjoiY2p0NXhiZXlsMGI5ajQ0cXprNHl1YmI5ciJ9.RbgpQDG-e3cQlkXMPVA_3Q';


    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
        center: ["26.251265","50.627868"],
        zoom: 12
    });
    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,

    });
    $(document).ready(function () {
        UpdateChat();
    })
    function UpdateChat() {
        $.ajax({
            url: '@Url.Action("GetMSG","Home")/'+@Model.job.ID,
            contentType: 'html',
            success: function (objOperations) {
                $("#Chat").html(objOperations);
            },
              beforeSend: function () {

                    LoaderJS();
                },
                complete: function () {

                    HideLoaderJS();
                },
               

        });
    }

    function Ts1() {

        $.ajax({
            url: '@Url.Action("SubscribeManager","Home")/@Model.job.ID',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (objOperations) {
                     
                var res = objOperations;
                if (res == true) {
                    $("#btnsub").text("Subscribed");
                    $("#btnsub").addClass("Subs");
                    $("#btnsub").removeClass("Alert");
                }
                if (res == false) {
                    $("#btnsub").text("Subscribe");
                    $("#btnsub").removeClass("Subs");
                       $("#btnsub").addClass("Alert");
                }
            },

              beforeSend: function () {

                    LoaderJS();
                },
                complete: function () {

                    HideLoaderJS();
                },
               
        });
            } ;
</script>

@*/@User.Identity.GetUserId()/@Model.job.ID'*@

