@model BLLViews.Models.JobView
@{
    ViewBag.Title = Model.job.Name;
}
<script>





    mapboxgl.accessToken = 'pk.eyJ1IjoiaXZhbnR5bW8iLCJhIjoiY2p0NXhiZXlsMGI5ajQ0cXprNHl1YmI5ciJ9.RbgpQDG-e3cQlkXMPVA_3Q';


    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
        center: ["26.251265","50.627868"],
        zoom: 12
    });
    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,

    });

        function Test() {
        $.ajax({
            url: '@Url.Action("SubscribeManager","Home")/' +@User.Identity.Name+'/' +@Model.job.ID,
            data: '{model:' + JSON.stringify(check) + '}',
            type: 'get',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (objOperations) {

                console.log(objOperations);


            }
        });
            } ;


</script>


<style>
    .main-container {
        border: 2px solid darkred;
    }

    .avatar {
        border-radius: 10px;
    }

    .user-info {
        margin: 5px;
        border-radius: 10px;
        background-color: dimgray;
    }

    #mapid {
        height: 180px;
    }
</style>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />


<div class="container main-container">

    <h1 class="text-center">@Model.job.Name</h1>
    <hr />
    <div class="grid">
        <div class="row">
            <div class="cell-8"><h2>@Model.job.Salary</h2></div>


            @if (Model.job.subscribers.FirstOrDefault(x => x.UserName == User.Identity.Name) != null)
            {
                <div class="cell-4"><button id="btnsub" onclick="Test()"  class="button alert">Subscribe</button></div>
            }
            else
            {
                <div class="cell-4"><button id="btnsub" style="background-color:aliceblue;color:black" onclick="Test()" class="button alert">Subscribed</button></div>

            }



        </div>
        <br />
        <br />
        <label>Description:</label>
        <div class="container row">
            @Model.job.Description
        </div>



        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="cell-8">
                <div class="row user-info">
                    <div class="cell-3">
                        <img width="30" class="avatar" height="30" src="@Model.job.UserOwner.AvaPath">
                        @Model.job.UserOwner.FullName
                    </div>
                    <div class="cell-3">
                        <input data-role="rating" data-value="@Model.job.UserOwner.Raiting" readonly disabled data-star-color="violet" data-stared-color="red" data-round-func="floor">
                    </div>
                    <div class="cell-3">
                        @Model.job.UserOwner.PhoneNumber
                    </div>
                    <div class="cell-3">
                        @Model.job.UserOwner.Email
                    </div>
                </div>
            </div>
            <div class="cell-2">
                <h6>@Model.job.Date</h6>
            </div>
            <div class="cell-2">
                <h4>@Model.job.City.Name</h4>
            </div>
        </div>
        <hr />
        <div id="map" style="height:400px"></div>
        <div id='geocoder' class='geocoder'></div>
    </div>
</div>






