@model IEnumerable<BLLViews.Models.GetAllUsers>
@{
    ViewBag.Title = "_Users";

}
<style>
    .table-container {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
</style>
<table class="table  striped table-container  table-border cell-border" id="Test1" data-role="table" data-show-activity="false" data-rownum="true">
    <thead>
        <tr>
            <th class="d-none-fs d-block-md">FullName</th>
            <th>Username</th>
            <th>isBanned</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="fg-white" id="BTable">
        @foreach (var el in Model)
        {

            <tr class="bd-darkRed">
                <td>@el.user.FullName</td>
                <td>@el.user.UserName</td>
                @if (el.isBanned)
                {
                    <td>
                        <button data-popover-trigger="click" class="button alert outline cell-12" data-popover-position="right" data-role="popover" data-popover-text='User banned!<br>Reason: @el.ban.Reason<br>To Date: @el.ban.ToDate<br>IsPermanent: @el.ban.IsPermanent<br>Ban Date: @el.ban.DateBan<br>  @Ajax.ActionLink("UNBAN", "UnBan", new { Id = el.user.Id }, new AjaxOptions {UpdateTargetId="AllUsers", OnSuccess = "UnBanShow",OnBegin="LoaderJS", OnComplete="HideLoaderJS", OnFailure="ErrorJS" }, new { @class = "button alert outline" })'>Banned</button>
                    </td>
                }
                else
                {
                    <td>
                        <button data-popover-trigger="click" class="button alert outline cell-12" data-popover-position="right" data-role="popover" data-popover-text='User no banned!<br><button id = "OpenBan" onclick="ShowPartailBan()" class="button alert outline" data-value="@el.user.Id">BAN</button>'>Null</button>
                    </td>
                }

                <td>
                    @*<button  id="@el.user.Id" class=" elemClass button alert outline cell-12" type="button" >Roles</button>*@
                    @Ajax.ActionLink("Roles", "GetRoles", new { id = el.user.Id },
                            new AjaxOptions
                            {

                                OnBegin = "LoaderJS",
                                OnComplete = "HideLoaderJS",
                                OnFailure = "ErrorJS",
                                OnSuccess = "OpenModalRoles",
                                UpdateTargetId = "RolesPartial",
                                InsertionMode = InsertionMode.Replace
                            },
                    new {@class ="button alert outline cell-12"})
                </td>

            </tr>
        }


    </tbody>
</table>
@Scripts.Render("~/bundles/MetroUI")

<script>
    function OpenModalRoles() {
        setTimeout(function () {
  
            Metro.dialog.open('#demoDialog2');
         
        }, 10);
    }

</script>
