
@{
    ViewBag.Title = "_Users";

}
<table class="table  striped  table-border cell-border" id="Test1" data-role="table" data-show-activity="false" data-rownum="true">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Username</th>
            <th>isBanned</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="fg-white">
        @foreach (var el in Model.users)
        {

            <tr class="bd-darkRed">
                <td>@el.FullName</td>
                <td>@el.UserName</td>
                @if (el.Ban!=null)
                {
                    <td>
                        <button data-popover-trigger="click" class="button alert outline cell-12" data-popover-position="right" data-role="popover" data-popover-text='User banned!<br>Reason: @el.Ban.Reason<br>To Date: @el.Ban.ToDate<br>IsPermanent: @el.Ban.IsPermanent<br>Ban Date: @el.Ban.DateBan<br>  @Ajax.ActionLink("UNBAN", "UnBan", new { Id = el.Id }, new AjaxOptions { OnSuccess = "UnBanShow",OnBegin="LoaderJS", OnComplete="HideLoaderJS", OnFailure="ErrorJS" }, new { @class = "button alert outline" })'>Banned</button>
                    </td>
                }
                else
                {
                    <td>
                        <button data-popover-trigger="click" class="button alert outline cell-12" data-popover-position="right" data-role="popover" data-popover-text='User no banned!<br><button id = "OpenBan" onclick="ShowPartailBan()" class="button alert outline" data-value="@el.Id">BAN</button>'>Null</button>
                    </td>
                }

                <td>
                @*<button onclick="loadProject('@el.Id')"></button>*@
                @Ajax.ActionLink("Roles", "GetRoles", new { id = el.Id }, new AjaxOptions { OnBegin = "LoaderJS", OnComplete = "HideLoaderJS", OnFailure = "ErrorJS", OnSuccess = "ShowPartailRoles", UpdateTargetId = "TableUsers", InsertionMode = InsertionMode.Replace })
                </td>

            </tr>
        }


    </tbody>
</table>
<script>
 
   $(document).ready(function () {
      $.ajax({
         type: "GET",
         url: '@Html.Action("GetRoles", "Admin",new {id= "181e1cb5-726d-476f-998c-281e4071adaa" })',
         dataType: "html",
         data: { id: "181e1cb5-726d-476f-998c-281e4071adaa" },

         success: function (content) {
             $("#RolesPartial").html(content);
         },
         error: function (e) { }
      })
   });

</script>