@model BLLViews.Models.IndexModel
@{
    /**/

    ViewBag.Title = "Adminka";
}

    <div class="container">

        <table class="table table-border cell-border">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Username</th>
                    <th>isBanned</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="fg-white">
                @foreach (var el in Model.users)
                {
                 
                <tr class="bd-darkRed">
                    <td>@el.FullName</td>
                    <td>@el.UserName</td>
                    @if (el.Ban != null)
                    {
                        <td data-popover-trigger="click" class="bg-darkRed" data-popover-position="right" data-role="popover" data-popover-text='User banned!<br>Reason: @el.Ban.Reason<br>To Date: @el.Ban.ToDate<br>IsPermanent: @el.Ban.IsPermanent<br>Ban Date: @el.Ban.DateBan<br>  @Ajax.ActionLink("UNBAN", "UnBan", new { Id = el.Id }, new AjaxOptions { OnSuccess = "UnBanShow" }, new { @class = "button alert" })'>
                            <div>
                                BANNED
                            </div>
                        </td>
                    }
                    else
                    {
                        <td data-popover-trigger="click" data-popover-position="right" data-role="popover" data-popover-text='User no banned!<br><button id = "OpenBan" onclick="ShowPartailBan()" data-value="@el.Id">BAN</button>'>
                            NULL
                        </td>
                    }
                    <td><button  id = "OpenRoles" onclick="ShowPartailRoles()" data-value="@el.Id" class="cell-12 button alert">Roles</button></td>
                </tr>
                 }
                  
                
            </tbody>
        </table>
   
               
        <div id="Test">
         @Html.Partial("_BanPanel",Model.partialBanModel)
         @Html.Partial("_RolePanel", Model.partialRolesModel)
        </div>
        <script>
            function ShowPartailBan() {
                let info = $("#OpenBan").data("value");
                Metro.dialog.open('#demoDialog1');
                $("#UidInBP").val(info);
            }
              function ShowPartailRoles() {
                let info = $("#OpenRoles").data("value");
                Metro.dialog.open('#demoDialog2');
                $("#UidInRP").val(info);
            }
            function UnBanShow() {
                var notify = Metro.notify;
                notify.create("User Unbanned!", null, {

                });
            };
            function BanShow() {
                var notify = Metro.notify;
                notify.create("User Banned!", null, {
                });
            };
            function RolesUpdated() {
                var notify = Metro.notify;
                notify.create("Roles has been updated!!!", null, {
                });
            };
            
        </script>
    </div>
